    <%-include('../Includes/header.ejs')%>
    </head>

    <body>
        <%-include('../Includes/navigation.ejs')%>

        <h1 style="color: red; text-align: center; margin-top: 20px;">Welcome To The Homepage!</h1>

        <%-include('../Includes/footer.ejs')%>